page-posts-list {
  //   .toolbar-content {
  //     position: relative;
  //   }
  ion-fab {
    top: 0;
    ion-fab-list {
      width: calc(100vw - 83px);
    }
  }
  .note-md {
    color: #545454;
  }
}
