<loading *ngIf="requestInProgress"></loading>

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides pager *ngIf="listOfPosts">
    <ion-slide *ngFor="let item of listOfPosts">
      <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="{{ item.avatar }}">
          </ion-avatar>
          <h2>{{ item.title }}</h2>
          <p>{{ item.date }}</p>
        </ion-item>

        <img src="{{ item.img }}">

        <ion-card-content>
          <p>{{ item.description }}</p>
        </ion-card-content>

      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>
