<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Favorites posts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <loading *ngIf="requestInProgress"></loading>

  <div text-center padding-top *ngIf="listOfFavorites.length === 0">
    <ion-note>
      List of favorites posts is empty
    </ion-note>
  </div>


  <ion-card ion-grid *ngIf="listOfFavorites.length > 0">
    <ion-row tappable *ngFor="let post of listOfFavorites">
      <ion-col col-2>
        <img src="{{ post.img }}">
      </ion-col>
      <ion-col col-8 (click)="openPost(post)">
        <h4>{{ post.title }}</h4>
        <ion-note>{{ post.author }}</ion-note>
      </ion-col>
      <ion-col col-2 text-right>
        <button ion-button icon-start clear small (click)="deleteFavorite(post.id)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
