<ion-header>
  <ion-navbar>
    <ion-title>Comments</ion-title>
    <ion-buttons end>
      <button (click)="closeComments()" ion-button>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="arrayOfComments.length === 0" text-center>
    <ion-note>
      No comment added yet
    </ion-note>
  </div>
  <div *ngIf="arrayOfComments.length > 0" class="list-comments" padding-right>
    <ion-item *ngFor="let comment of arrayOfComments">
      <ion-avatar item-start>
        <img src="{{ comment.avatar }}">
      </ion-avatar>
      <div class="head-comment">
        <h2>
          {{ comment.author }}</h2>
        <ion-note>
          {{ comment.date_time }}
        </ion-note>
      </div>
      <p>
        {{ comment.comment }}
      </p>
    </ion-item>
  </div>
  <ion-toolbar>
    <ion-item margin-right>
      <ion-avatar item-start>
        <img src="/assets/imgs/avatars/user3.png">
      </ion-avatar>
      <ion-input [(ngModel)]="comment" placeholder="Write your comment..."></ion-input>
      <button (click)="addComment()" [disabled]='!comment' ion-button item-right round>
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>
</ion-content>
